# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\PC\Google Drive\Belgeler\BOUN Engineering & Technology Management\ETM 595 - Risk Assessment & Management\ETM959_Risk_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
